*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-x: hidden;
	-moz-overflow-x: hidden;
	-ms-overflow-x: hidden;
	background-color: #343a40;
}

.btn:focus, .form-control:focus{
    outline: 0;
    box-shadow: 0 0 0 .2rem transparent;
}

.btn-outline-white{
	color: white;
	padding: 0.6rem;
	background-color: transparent;
	border: 2px solid white;
	transition: 0.3s;
}

.btn-outline-white:hover{
	background-color: white;
	color: black;
	transition: 0.3s;
}

.section-heading{
	text-align: center !important;
}

nav{
	position: fixed !important;
	z-index: 1050 !important;
	width: 100%;
	background-color: #bbb9b9bf;
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-brand img{
	width: 150px;
}

.nav-item{
	font-weight: 700;
	font-size: 20px;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
}

.nav-item:hover{
	border-bottom: 3px solid white;
	transition: 0.3s;
}

.carousel-img{
	transform: scale(1);
	animation: zoom infinite 5s ease alternate-reverse;
}

@keyframes zoom{
	to{
		transform: scale(1.1);
	}
}

.live-notice{
	display: flex;
	border-top: 2px solid #17a2b8; 
	border-bottom: 2px solid #17a2b8;
	border-right: 2px solid #17a2b8;
}

.title-breaker{
	width: 20px;
}

.news{
	text-decoration: none;
	margin-right: 20px;
}

#overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #00000075;
	z-index: 2048;
	display: none;
}

#register{
	width: 370px;
	height: 500px;
	position: absolute;
	top: -12000px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background-color: white;
	border-radius: 12px;
	z-index: 2049;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: 1s ease-in;
}

#close{
	padding: 5px 8px;
	background-color: transparent;
	border: 2px solid red;
	color: red;
	transition: 0.3s;
	margin-left: 90%;
	cursor: pointer;
}

#close:hover{
	transition: 0.3s;
	color: white;
	background-color: red;
}

.form-logo{
	width: 90%;
}

.ajax-loader{
	width: 30px;
	text-align: center;
	display: none;
}

.card{
	/*width: 300px;*/
	margin: 0.3rem;
}

.notice{
	border: 2px solid #17a2b8;
	padding: 50px;
}


#team .card{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   border-radius: 20px;
}

#team .card .content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#team .card .content .imgBx{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}

#team .card .content .imgBx img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#team .card .content .contentBx h4{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}

#team .card .content .contentBx h5{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}

#team .card .content .sci{
   margin-top: 20px;
}

#team .card .content .sci a{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}

#team .card .content .sci a:hover{
   color: #0196e3;
}

.videoes iframe{
	width: 300px;
	height: 200px;
	margin: 0.3rem;
}

#sponsor img{
  width: 110px;
  margin: 10px 10px;
}

@media screen and (max-width: 382px){
	#register{
		width: 97%;
		height: 520px;
	}
}

.wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price{
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}
.features li .icon{
  font-size: 15px;
}
.features li .icon.check{
  color: #2db94d;
}
.features li .icon.cross{
  color: #cd3241;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}
.basic .features li::selection{
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #ffd861;
}
.basic .btn button{
  border: 2px solid #ffd861;
  background: #fff;
  color: #ffd861;
}
.basic .btn button:hover{
  background: #ffd861;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button{
  background: #a26bfa;
}
.premium .btn button:hover{
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area{
  background: #43ef8b;
}
.ultimate .btn button{
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.ultimate .btn button:hover{
  background: #43ef8b;
  color: #fff;
}
.basic .package-name{
  background: #ffecb3;
}
.premium .package-name{
  background: #d0b3ff;
}
.ultimate .package-name{
  background: #baf8d4;
}
.basic .package-name::before{
  content: "Basic";
}
.premium .package-name::before{
  content: "Premium";
  font-size: 24px;
}
.ultimate .package-name::before{
  content: "Ultimate";
  font-size: 24px;
}
@media (max-width: 1020px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table{
    width: 100%;
  }
}
::selection{
  color: #fff;
}
.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}